@charset "UTF-8";

/* common */
body {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

/* section 영역 */
.carousel {
	margin-bottom: 4rem;
}

.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}

.carousel-item {
	height: 440px;
}

.carousel-item>img {
	position: absolute;
	top: 0;
	left: 0;
	height: 440px;
	max-width: 2560px; 
}

.productListInfo img {
	transition:.3s;
}

.productListInfo:hover img{
	transform: scale(1.4);
	transition:.3s;
}

.productListInfo .cardImg {
	overflow: hidden;
}

@media screen and (max-width: 1080px) {
	.carousel-item {
		height: 300px;
	}
	.carousel-item>img {
		position: absolute;
		top: 0;
		left: 0;
		height: 300px;
	}
}

@media screen and (max-width: 576px) {
	.carousel-item {
		height: 150px;
	}
	.carousel-item>img {
		position: absolute;
		top: 0;
		left: 0;
		height: 150px;
	}
}