@charset "UTF-8";

.productListInfo img {
	transition:.3s;
}

.productListInfo:hover img{
	transform: scale(1.4);
	transition:.3s;
}

.productListInfo .cardImg {
	overflow: hidden;
}

.productListInfo p {
	color: black;
}